{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django - это Веб-фреймворк для создания больших Веб-сайтов и Веб-приложений с использованием HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало</h2>
        <p>
            Django дает Вам сильный, основанный на паттернах метод для создания динамических Веб-сайтов, которые 
            обеспечивают четкое разделение проблем и дают Вам полный контроль над разметкой 
            для приятного, гибкого развития.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Получить больше библиотек</h2>
        <p>The Python Package Index - это репозитарий для ПО, написанного на языке программирования Python.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Вы можете с легкостью опубликовать Ваше приложение в Microsoft Azure, используя Visual Studio. Получите информацию
        о том, как Вам разместить приложение с помощью бесплатного пробного периода.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
